<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>378846131057-3qak3gab1l08sfpoje0dahbt8piq6cvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378846131057-3qak3gab1l08sfpoje0dahbt8piq6cvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBN1qskozD8jnkLfvQ0WJ4RblXQrPjLgBw</string>
	<key>GCM_SENDER_ID</key>
	<string>378846131057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xzya.HackerNews</string>
	<key>PROJECT_ID</key>
	<string>hackernews-97d33</string>
	<key>STORAGE_BUCKET</key>
	<string>hackernews-97d33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:378846131057:ios:65fc4772c827de68</string>
	<key>DATABASE_URL</key>
	<string>https://hacker-news.firebaseio.com/</string>
</dict>
</plist>
